body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;

    margin:1em auto;
    padding:0 .62em;
    font:1.2em/1.62em sans-serif;
    
}

#content {
    margin: auto;
    max-width:800px;
}

#site {
    overflow: auto; float: none; clear: both
}

@media screen and (max-width: 1400px) {
    #left, #right {
        display: none;
   }   
}

#left {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    background-color: #ddd;
    border-color: #ddd;
    box-sizing: border-box;
    border-radius: 4px;
    
    padding: 1em;
    margin-top: 2em;
    margin-left: 50px;
    float: left;
    width:250px;
}

#right {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    background-color: #ddd;
    border-color: #ddd;
    box-sizing: border-box;
    border-radius: 4px;
    
    padding: 1em;
    margin-top: 2em;
    margin-right: 50px;
    float: right;
    width:250px;
}

#top {
}

#bottom {
    margin: 0 auto;
    max-width: 60em;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    font-weight : bold;
    text-decoration : underline;
}

h1,h2,h3 {
    line-height:1.2em;
}

.button.true {
    background-image: url("../../assets/images/up_arrow_blue.png");
}

.button.false {
    background-image: url("../../assets/images/up_arrow_black.png");
}

.header a:link {
    color: black;
}

.header a:link:hover, .header a:visited:hover  {
    color: orange;
}

.inputParentId {
    visibility: hidden;
}

@media print{body{max-width:none}}
